.ui-tabs-vertical { width: 940px; border:none;}
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 190px; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; background:none;}
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 710px; text-align:top;}

.ui-tabs-vertical .ui-state-default {background:#d0e5f5; padding: 3px;}
.ui-tabs-vertical .ui-state-default a{width:80%; background:#d0e5f5; display:block;}

.ui-tabs-vertical .ui-state-hover { background:#d0e5f5; border:none;}
.ui-tabs-vertical .ui-state-hover a{background:#d0e5f5; display:block;}

.ui-tabs-vertical .ui-state-active{background:#ffffff; border: none;}
.ui-tabs-vertical .ui-state-active a{background:#ffffff; display:block;}

.ui-tabs-vertical .ui-state-focus{background:#d0e5f5; border:none;}
.ui-tabs-vertical .ui-state-focus a{background:#d0e5f5; display:block;}

.ui-tabs-vertical .ui-tabs-selected a{background: #ffffff;}

.ui-tabs-vertical .ui-tabs{border:none;}

#form-para .selectstuff{-moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #79b7e7; font-weight: normal; text-decoration:none;}
#form-para .selectstuff:hover{border: 1px solid #79b7e7; font-weight: normal; text-decoration:none;}

