.page_title
  Dashboard

.span-12
  #db-list
    #list_title
      Orders and Customers
    %ul
      %li
        =link_to "New Quote/Order", :controller=>"orders", :action=>"new"
      %li
        =link_to "Lookup Order", :controller=>"nothing", :action=>"nothing"
      %li
        =link_to "Clients and contacts", :controller=>"clients", :action=>"show"
      %li
        =link_to "Job Status", :controller=>"orders", :action=>"pending"

    #list_title
      Administrative Tasks
    %ul
      %li
        =link_to "#View orders ready to export to QuickBooks#", :controller=>"orders", :action=>"find?status=ready"

    #list_title
      Pre Press
    %ul
      %li
        =link_to "#Update Task Descriptions#", :controller=>"orders", :action=>"nothing"
      %li
        =link_to "#Log Tasks#", :controller=>"nothing", :action=>"nothing"
      %li
        =link_to "Shipped Orders", :controller=>"orders", :action=>"find?status=shipped"


%div{:class=>"span-12 last"}
  #db-list
    #list_title
      Paper Stock
    %ul
      %li
        =link_to "Check Paper Stock", :controller=>"paper_stocks", :action=>"check"
      %li
        =link_to "Paper Order", :controller=>"paper_stocks", :action=>"order"


    #list_title
      Misc
    %ul
      %li
        =link_to "Shipped not Billed", :controller=>"orders", :action=>"shipped"
      %li
        =link_to "Shipped Orders", :controller=>"orders", :action=>"billed"
      %li
        =link_to "Create Purchase Order", :controller=>"purchase_orders", :action=>"new"
      %li
        =link_to "Find Purchase Order", :controller=>"purchase_orders", :action=>"find"
      %li
        =link_to "#Shipping#", :controller=>"nothing", :action=>"nothing"
      %li
        =link_to "#Press Dates#", :controller=>"nothing", :action=>"nothing"
      %li
        =link_to "#Binary / LP Dates#", :controller=>"nothing", :action=>"nothing"

