.newCost
  %br
  %div{:class=>"span-4", :id=>"fieldt"}
    Cost category
  %div{:class=>"span-4 last", :id=>"fieldt"}
    Name
  -unless f.object.nil? or f.object.new_record?
    %div{:class=>"span-2 last", :id=>"fieldt-c"}
      Delete?
  %div{:class=>"span-18", :id=>"costCatField"}
    %div{:class=>"span-4", :id=>"fieldh"}
      =f.select :category, ['Delivery', 'Fold', 'Tipping'], options={}, html_options={:class=>"costCatSelect"}
      -unless f.object.nil? or f.object.new_record?
        .sqdiv
    %div{:class=>"span-2", :id=>"fieldh"}
      =f.select :cost, [], options={}, html_options={:class=>"costNames"}
    -unless f.object.nil? or f.object.new_record?
      %div{:class=>"span-4 last", :id=>"fieldh-c"}
        =f.check_box('_delete')
      .tridiv
