.sqdiv
%div{:class=>"newSec", :id=>"newSecSpace"}

  -content_for :jstemplates do
    ="var cost='#{ generate_template(f, :costs) }'"

  %div{:class=>"span-18", :id=>"subform-title"}
    .span-8
      Section
    %div{:class=>"span-9 last", :id=>"form-title-option"}
      -unless f.object.nil? or f.object.new_record?
        =f.check_box('_delete')
        =f.label('_delete', "Delete Section?")
  %div{:class=>"span-18", :id=>"fieldr"}
    %div{:class=>"span-18 last"}
      %div{:class=>"span-4"}
        =f.label :name, "Name"
        %br
        =f.text_field :name, :size=>"15"
      %div{:class=>"span-4"}
        =f.label :alternate_name, "Alternate name"
        %br
        =f.text_field :alternate_name, :size=>"15"
      %div{:class=>"span-4", :id=>"referd"}
        =f.label :quantity_per_order, "Quantity per order"
        %br
        =f.text_field :quantity_per_order, :size=>"5"
      %div{:class=>"span-6 last"}
        =f.check_box :include_on_quote
        =f.label :include_on_quote, "Include on quote?"
        %br
        =f.check_box :customer_supplied_stock
        =f.label :customer_supplied_stock, "Customer Supplied Stock?"
    %div{:class=>"span-18 last", :id=>"form-para"}
      %div{:class=>"span-5"}
        %div{:class=>"span-5 last"}
          =f.label :description, "Description"
          %br
          =f.text_area :description, :size=>"20x3"
        %div{:class=>"span-5"}
          %br
          =f.label :stock_description, "Stock description"
          %br
          =f.text_area :stock_description, :size=>"20x3"
      %fieldset{:class=>"span-12 last"}
        %legend Paper Stock
        %div{:class=>"span-12 last", :id=>"autocalc"}
          %div{:class=>"span-4", :id=>"labels-col"}
            =f.label :finish_flat_size, "Finish flat size: "
            =f.text_field :finish_flat_size, :size=>"6", :class=>"finish_flat_size"
          %div{:class=>"span-4", :id=>"labels-col"}
            =f.label :press_size, "Run sheet: "
            =f.text_field :press_size, :size=>"4", :class=>"run_sheet_size"
          %div{:class=>"span-3 last", :id=>"labels-col"}
            =f.label :ups, "Ups: "
            =f.text_field :ups, :size=>"4", :class=>"ups_size"
        %div{:class=>"span-12 last"}
          %div{:class=>"span-4", :id=>"labels-col"}
            =f.label :finish_fold_size, "Finish fold size: "
            =f.text_field :finish_fold_size, :size=>"6"
          %div{:class=>"span-4", :id=>"labels-col"}
            =f.label :out, "Number out: "
            =f.text_field :out, :size=>"4"
          %div{:class=>"span-3 last", :id=>"labels-col"}
            =f.label :pages, "Pages: "
            =f.text_field :pages, :size=>"4"
        %div{:class=>"span-12 last"}
          %div{:class=>"span-5"}
            =f.label :layout, "Layout: "
            =f.select :layout, ["sheet-wise", "perfect", "work-and-tumble", "work-and-turn"]
          %div{:class=>"span-3"}
            =f.label :signatures, "Signatures: "
            =f.text_field :signatures, :size=>"4"
          %div{:class=>"span-3 last", :id=>"labels-col"}
            =f.check_box :bleeds
            =f.label :bleeds, "Bleeds?"
        %div{:class=>"span-12 last"}
          %div{:class=>"span-5"}
            =f.select :press_id, current_user.company.presses.map{|each_press| [each_press.name, each_press.id]}, {:include_blank => "Choose press machine"}
          %div{:class=>"span-5 last"}
            =f.select :paper_stock_id, current_user.company.paper_stocks.map{|each_paper| [each_paper.parent_sheet+", "+each_paper.color+", "+each_paper.finish, each_paper.id]}, {:include_blank => "Choose paper stock"}
        %div{:class=>"span-12 last"}
          %div{:class=>"span-5"}
            =f.label :ink_count_side_1, "# of colors on side-1: "
            =f.text_field :ink_count_side_1, :size=>"4"
          %div{:class=>"span-5 last"}
            =f.select(:side_1_color_list, ["1 PM", "2PM", "3PM", "BLACK", "BLACK DIGITAL IMAGED", "CYMK", "CYMK & OADAQ", "CYMK & OAGAQ", "CYMK & SDAQ", "CYML & SGAQ", "CYML + UV", "COLORED DIGITAL IMAGED", "INK JET", "PMS", "PMS & BLACK"], {:include_blank => "No colors on side-1"})
        %div{:class=>"span-12 last"}
          %div{:class=>"span-5"}
            =f.label :ink_count_side_2, "# of colors on side-2: "
            =f.text_field :ink_count_side_2, :size=>"4"
          %div{:class=>"span-5 last"}
            =f.select(:side_2_color_list, ["1 PM", "2PM", "3PM", "BLACK", "BLACK DIGITAL IMAGED", "CYMK", "CYMK & OADAQ", "CYMK & OAGAQ", "CYMK & SDAQ", "CYML & SGAQ", "CYML + UV", "COLORED DIGITAL IMAGED", "INK JET", "PMS", "PMS & BLACK"], {:include_blank => "No colors on side-2"})

    %div{:class=>"span-18 last"}
      %div{:class=>"span-18 last"}
        %p{:align=>"center"}
          %a{:class=>"newCostlink ui-state-default selectstuff"}
            Add New Cost
      %div{:class=>"span-18 last"}
        -f.fields_for :costs do |nfc|
          =render :partial => 'cost', :locals => { :f => nfc }
