-@color_options = ["1 PM", "2PM", "3PM", "BLACK", "BLACK DIGITAL IMAGED", "CYMK", "CYMK & OADAQ", "CYMK & OAGAQ", "CYMK & SDAQ", "CYML & SGAQ", "CYML + UV", "COLORED DIGITAL IMAGED", "INK JET", "PMS", "PMS & BLACK"]

.sqdiv
%div{:class=>"newSec", :id=>"newSecSpace"}

  -content_for :jstemplates do
    ="var cost='#{ generate_template(f, :costs) }'"

  %div{:class=>"span-18", :id=>"subform-title"}
    New Section
  %div{:class=>"span-18", :id=>"fieldr"}
    #form-para
      %div{:class=>"span-9"}
        -unless f.object.new_record?
          =f.check_box('_delete')
          =f.label('_delete', "Delete Section?")
      %div{:class=>"span-9 last", :id=>"referd"}
        =f.label :quantity_per_order, "Quantity per order"
        %br
        =f.text_field :quantity_per_order

    %div{:class=>"span-18 last", :id=>"form-para"}
      %div{:class=>"span-9"}
        =f.label :name, "Name"
        %br
        =f.text_field :name
      %div{:class=>"span-9 last"}
        =f.label :alternate_name, "Alternate name"
        %br
        =f.text_field :alternate_name

    %div{:class=>"span-18 last", :id=>"form-para"}
      %div{:class=>"span-9"}
        =f.label :description, "Description"
        %br
        =f.text_area :description, :size=>"30x3"
      %div{:class=>"span-9 last"}
        =f.label :stock_description, "Stock description"
        %br
        =f.text_area :stock_description, :size=>"30x3"


    %div{:class=>"span-18 last", :id=>"form-para"}
      %div{:class=>"span-9"}
        =f.label :ink_count_side_1, "Number of colors on side-1"
        %br
        =f.text_field :ink_count_side_1
      %div{:class=>"span-9 last"}
        =f.label :side_1_color_list, "Ink colors on side-1"
        %br
        =f.select (:side_1_color_list, ["1 PM", "2PM", "3PM", "BLACK", "BLACK DIGITAL IMAGED", "CYMK", "CYMK & OADAQ", "CYMK & OAGAQ", "CYMK & SDAQ", "CYML & SGAQ", "CYML + UV", "COLORED DIGITAL IMAGED", "INK JET", "PMS", "PMS & BLACK"], {:include_blank => "None"})

    %div{:class=>"span-18 last", :id=>"form-para"}
      %div{:class=>"span-9"}
        =f.label :ink_count_side_2, "Number of colors on side-2"
        %br
        =f.text_field :ink_count_side_2
      %div{:class=>"span-9 last"}
        =f.label :side_2_color_list, "Ink colors on side-2"
        %br
        =f.select (:side_2_color_list, ["1 PM", "2PM", "3PM", "BLACK", "BLACK DIGITAL IMAGED", "CYMK", "CYMK & OADAQ", "CYMK & OAGAQ", "CYMK & SDAQ", "CYML & SGAQ", "CYML + UV", "COLORED DIGITAL IMAGED", "INK JET", "PMS", "PMS & BLACK"], {:include_blank => "None"})

    %div{:class=>"span-18 last", :id=>"form-para"}
      %div{:class=>"span-9"}
        =f.label :finish_flat_size, "Finish flat size"
        %br
        =f.text_field :finish_flat_size
      %div{:class=>"span-9 last"}
        =f.label :finish_fold_size, "Finish fold size"
        %br
        =f.text_field :finish_fold_size


    %div{:class=>"span-18 last", :id=>"form-para"}
      %div{:class=>"span-9"}
        =f.label :press_id, "Press Machine"
        %br
        =f.text_field :press_id
      %div{:class=>"span-9 last"}
        =f.label :paper_stock_id, "Paper Stock"
        %br
        =f.text_field :paper_stock_id

    %div{:class=>"span-18 last", :id=>"form-para"}
      %div{:class=>"span-9"}
        =f.label :press_size, "Press size"
        %br
        =f.text_field :press_size
      %div{:class=>"span-9 last"}
        =f.label :layout, "Layout"
        %br
        =f.text_field :layout

    %div{:class=>"span-18 last", :id=>"form-para"}
      %div{:class=>"span-9"}
        =f.label :out, "Out"
        %br
        =f.text_field :out
      %div{:class=>"span-9 last"}
        =f.label :signatures, "Signatures"
        %br
        =f.text_field :signatures

    %div{:class=>"span-18 last", :id=>"form-para"}
      %div{:class=>"span-9"}
        =f.label :pages, "Pages"
        %br
        =f.text_field :pages
      %div{:class=>"span-9 last"}
        =f.label :stock_sell_percent, "Stock Sell Percent"
        %br
        =f.text_field :stock_sell_percent

    %div{:class=>"span-18 last", :id=>"form-para"}
      %div{:class=>"span-5"}
        =f.check_box :include_on_quote
        =f.label :include_on_quote, "Include on quote?"
      %div{:class=>"span-4"}
        =f.check_box :bleeds
        =f.label :bleeds, "Bleeds?"
      %div{:class=>"span-6 last"}
        =f.check_box :customer_supplied_stock
        =f.label :customer_supplied_stock, "Customer Supplied Stock?"

    %div{:class=>"span-18 last", :id=>"form-para"}
      %hr
      %div{:class=>"span-18 last"}
        %a{:class=>"newCostlink ui-state-default selectstuff"}
          Add New Cost
      %div{:class=>"span-18 last"}
        -f.fields_for :costs do |nfc|
          =render :partial => 'cost', :locals => { :f => nfc }
