-content_for :header do
  =javascript_include_tag 'livequery'
  =javascript_include_tag 'new_edit_order'
  =javascript_include_tag 'autocomplete'
  =stylesheet_link_tag 'new_edit_order'

.errors

.page_title
  New Quote/Order

.span-24
  -form_for @order, :url => {:action => :create} do |f|
    =error_messages_for :order
    -content_for :jstemplates do
      ="var quantity='#{ generate_template(f, :quantities) }'"
      ="var section='#{ generate_template(f, :sections) }'"

    #tabs
      %ul
        %li
          %a{:href=>"#tabs-1"}
            Order Info
        %li
          %a{:href=>"#tabs-2"}
            Quote & Print Details
        %li
          %a{:href=>"#tabs-3"}
            Sections
      #tabs-1
        .span-18
          #form-para
            .span-6
              =label :order, :quoted_on, "Date Quoted"
              %br
              =f.text_field :quoted_on

            .span-6
              =label :order, :ordered_on, "Date Ordered"
              %br
              =f.text_field :ordered_on

            %div{:class=>"span-6 last"}
              =label :order, :due_by, "Due by"
              %br
              =f.text_field :due_by

        .span-18
          #form-para
            .span-6
              =label :order, :csr_id, "CSR: "
              %br
              =f.text_field :csr_id
            .span-6
              =label :order, :estimator_id, "Estimator: "
              %br
              =f.text_field :estimator_id
            %div{:class=>"span-6 last"}
              =label :order, :status, "Order Status: "
              %br
              =f.select (:status, ["quoted", "ordered"])

            %div{:class=>"span-6 last"}
              =f.collection_select(:cost_set_id, current_user.company.cost_sets, :id, :name)

      #tabs-2
        #form-para
          .span-18
            .span-4
              =label :order, :finish_flat_size, "Finish Flat Size"
              %br
              =f.text_field :finish_flat_size, :size=>"10"
            .span-4
              =label :order, :finish_fold_size, "Finish Fold Size"
              %br
              =f.text_field :finish_fold_size, :size=>"10"
            .span-4
              =label :order, :consecutive_start, "Consecutive start"
              %br
              =f.text_field :consecutive_start, :size=>"10"
            %div{:class=>"span-4"}
              =label :order, :consecutive_end, "Consecutive end"
              %br
              =f.text_field :consecutive_end, :size=>"10"

        #form-para
          .span-18
            .span-4
              =label :order, :quantity_ordered, "Quantity ordered"
              %br
              =f.text_field :quantity_ordered, :size=>"10"
            .span-4
              =label :order, :overs_on_shelf, "Overs on shelf"
              %br
              =f.text_field :overs_on_shelf, :size=>"10"
            %div{:class=>"span-4 last"}
              =label :order, :final_quantity, "Final quantity"
              %br
              =f.text_field :final_quantity, :size=>"10"

        #form-para
          .span-18
            #subform-title
              Quantities
            %a{:id=>"newQty", :class=>"ui-state-default selectstuff"}
              Add New Quantity
            -f.fields_for :quantities do |qf|
              =render :partial => 'quantity', :locals => { :f => qf }


      #tabs-3
        #form-para
          .span-18
            %a{:id=>"newSec", :class=>"ui-state-default selectstuff"}
              Add New Section
            -f.fields_for :sections do |nf|
              =render :partial => 'section', :locals => { :f => nf }
    #form-para
      .span-18
        %p{:align=>"center"}
          =f.submit('Create Order')
