-content_for :header do
  =javascript_include_tag 'new_edit_order'

.page_title
  New Quote/Order

.span-24
  -form_for @order do |order_form|

    .span-24
      #form-para
        .span-8
          =label :order, :quoted_on, "Date Quoted"
          %br
          =order_form.text_field :quoted_on, :value => @order.quoted_on.to_s(:en_US)

        .span-8
          =label :order, :ordered_on, "Date Ordered"
          %br
          =order_form.text_field :ordered_on

        %div{:class=>"span-8 last"}
          =label :order, :due_by, "Due by"
          %br
          =order_form.text_field :due_by

    .span-24
      #form-para
        .span-8
          =label :order, :csr_id, "CSR: "
          .csr_id_field
            None
          %a{:href=>"Select CSR"}
            Select CSR
          =order_form.hidden_field :csr_id

        .span-8
          =label :order, :estimator_id, "Estimator: "
          .estimator_id_field
            None
          %a{:href=>"Select Estimator"}
            Select Estimator
          =order_form.hidden_field :estimator_id

        %div{:class=>"span-8 last"}
          =label :order, :status, "Order Status: "
          %br
          =order_form.select (:status, ["quoted", "ordered"])



    .span-24
      #subform-title
        Print Details

      #form-para
        .span-10
          =label :order, :proof, "Proof file"
          %br
          =order_form.file_field :proof

        .span-7
          =label :order, :finish_flat_size, "Finish Flat Size"
          %br
          =order_form.text_field :finish_flat_size
        %div{:class=>"span-7 last"}
          =label :order, :finish_fold_size, "Finish Fold Size"
          %br
          =order_form.text_field :finish_fold_size

    .span-24
      #form-para
        .span-10
          =label :order, :description, "Description"
          %br
          =order_form.text_area :description, :size=>"50x6"
        %div{:class=>"span-14 last"}
          .span-7
            =label :order, :quantity_ordered, "Quantity Ordered"
            %br
            =order_form.text_field :quantity_ordered
          %div{:class=>"span-7 last"}
            =label :order, :overs_on_shelf, "Overs on Shelf"
            %br
            =order_form.text_field :overs_on_shelf
          .span-7
            =label :order, :consecutive_start, "Consecutive Start"
            %br
            =order_form.text_field :consecutive_start
          %div{:class=>"span-7  last"}
            =label :order, :consecutive_end, "Consecutive End"
            %br
            =order_form.text_field :consecutive_end

    .span-24
      #subform-title
        Sections

    .span-24
      #firm-para
        -order_form.fields_for :sections do |section_form|
          =section_form.label :name, "Section:"
          =section_form.text_field :name
          =label :order, :consecutive_end, "Consecutive End"
          =order_form.text_field :consecutive_end

    .span-24
      #form-para
        %p{:id=>"submit-button"}
          =order_form.submit ("Create Quote/Order")

  
