<!--                                           -->
<!-- The body can have arbitrary html, or      -->
<!-- you can leave the body empty if you want  -->
<!-- to create a completely dynamic ui         -->
<!--                                           -->


<%- content_for :header do %>
  <%= stylesheet_link_tag 'press' %>
<%- end %>

<!-- OPTIONAL: include this if you want history support -->
<iframe src="javascript:''" id="__gwt_historyFrame" style="width:0;height:0;border:0"></iframe>

<h1>GWT Application</h1>
<div id="slot1"></div>

<div id="dashboardRoot"></div>

